.ws-content{
	padding: 24px;
}

.ws-flex{
	display: flex;
}

.ws-width-auto{
	width: auto;
}

.ws-header{
	height: 64px;
}

.ws-align-center{
	display: flex;
	align-items: center;
}

/* 1 menit = 2px */
.ws-time{
	height: 120px;
}

.ws-matkul{
	font-size: 14px;
	font-weight: bold;
	text-align: justify;
	color: white;
}

.ws-matkul-content{
	font-size: 12px;
	color: whitesmoke;
}

.ws-card-matkul{
	margin: 0px;
	padding: 0px;
}

.col{
	padding: 0px;
}